
@media (min-width:1281px) {
    .main-container {
        width: 1281px;
        height: 527px;
    }

    .text-wrapper {
        width: 602px;
        height: 527px;
    }

    .image-container {
        width: 602px;
        height: 527px;
    }

    .image-container img {
        width: 100%;
    }

    .text-title-container {
        width: 384px;
    }
    
    .text-title-container h3 {
        font-size: 58px;
    }
    
    .text-paragraph-container {
        width: 384px;
        word-wrap: break-word;
    }
}


/* 1280px */

@media (max-width:1280px) {
    .logo-container {
        width: 175px;
        height: 39px;
        left: 115px;
    }

    .navigation {
        max-width: 441px;
        height: 24px;
        /* margin-top: 82px;
        margin-left: 380px; */
    }

    .logo-container img {
        height: 100%;
    }

    .main-container {
        width: 770px;
        height: 400px;
    }

    .text-wrapper {
        width: 360px;
        height: 400px;
    }

    .image-container {
        width: 384px;
        height: 380px;
    }

    .image-container img {
        width: 100%;
    }

    .text-title-container {
        width: 90%;
        /* word-wrap: break-word; */
    }
    
    .text-title-container h3 {
        font-size: 38px;
        word-wrap: break-word;
    }
    
    .text-paragraph-container {
        width: 90%;
        word-wrap: break-word;
    }

    .content-container {
        width: 75%;
        height: auto;
    }

    .text-block-container {
        width: 100%;
    }

    .mini-title-container {
        width: 141px;
        height: 24px;
    }
    
    .title-container {
        width: 380px;
        height: 48px;
        font-size: 34px;
    }
    
    .description-container {
        width: 420px;
        height: 85px;
    }

    .cards-container {
        width: 100%;
        height: auto;
    }

    .card {
        width: 280px;
        height: 400px;  
        margin-bottom: 30px;     
    }


}

/* 768px */

@media (max-width:768px) {
    .logo-container {
        width: 130px;
        height: 30px;
        left: 75px;
    }

    .navigation {
        display: none;
    }

    .logo-container img {
        height: 100%;
    }

    .main-container {
        width: 480px;
        height: 250px;
    }

    .text-wrapper {
        width: 240px;
        height: 250px;
    }

    .image-container {
        width: 240px;
        height: 250px;
    }

    .image-container img {
        width: 100%;
    }

    .text-paragraph-container {
        width: 240px;
        word-wrap: break-word;
    }

    .button-primary {
        width: 90%;
        height: 56.77px;
    }
    
    .button-content-container {
        width: 161px;
        height: 31px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .content-container {
        width: 100%;
    }

    .burger-bar {
        display: block;
    }

    .cards-container {
        width: 480px;
        height: auto;
    }

    .card {
        width: 210px;
        height: 310px;  
        margin-bottom: 30px;     
        margin-left:30px;
    }

    .card-image-container {
        width: 80px;
        height: 80px;
    }
    
    .card-text-container {
        width: 100%;
        height: 84px;
    }
    
    .card-title-container {
        width: 100%;
        font-size: 18px;
    }
    
    .card-description-container {
        width: 100%;
        height: 50px;
        font-size: 12px;
    }
}

/* 480px */

@media (max-width:480px) {
    .logo-container {
        width: 90px;
        height: 25px;
        left: 35px;
    }

    .logo-container img {
        height: 100%;
    }

    .main-container {
        width: 90%;
        height: auto;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .text-wrapper {
        width: 50%;
        height: 250px;
        margin-bottom: 30px;
    }

    .image-container {
        width: 70%;
        height: auto;
        margin-top: 40px;
    }

    .image-container img {
        width: 100%;
    }

    .text-block-container {
        height: 350px;
    }

    .mini-title-container {
        width: 180px;
    }

    .title-container {
        width: 200px;
    }

    .description-container {
        width: 90%;
        font-size: 16px;
    }

    .content-container {
        width: 95%;
        justify-content: center;
        align-items: center;
        margin-top:30px;
        
    }

    .cards-container {
        justify-content: center;
    }

    .card {
        width: 240px;
        height: 310px;  
        margin-bottom: 30px;     
        margin-left:30px;
    }
}